$white: #FDEAD7;
$blue: #5585F7;
$salmon: #F7AA76;
$orange: #F86F43;
$purple: #3C365A;

$mobile-bg-white: #FFF6F4;

$grey-1: #F2F2F2;
$grey-2: #DADADA;

$player-green: #7BB985;
$player-red: #E39CA9;
$player-blue: #73CCE9;
$player-yellow: #FBC383;

$font: 'avara', serif;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20px
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px

$ft-w-regular: 700;
$ft-w-bold: 900;
