$white: #FDEAD7;
$blue: #5585F7;
$salmon: #F7AA76;
$orange: #F86F43;
$purple: #3C365A;

$disabled: #7D72B4;

$white-beige: #FFF6F4;
$red-dead: #C6485E;
$violet-target: #6F6BED;
$orange-target: #F7AA76;
$violet-clue: #6B6587;
$violet-clue-bg: #d4cdef;

$loader: #DEDCEA;

$font: 'avara', serif;

$ft-s-xxsmall: 0.75rem; // 12px
$ft-s-xsmall: 1rem; // 16px
$ft-s-small: 1.25rem; // 20px
$ft-s-medium: 1.5rem; // 24px
$ft-s-large: 2rem; // 32px
$ft-s-xlarge: 3rem; // 48px

$ft-w-regular: 700;
$ft-w-bold: 900;
