@import "reset";
@import "normalize";
@import "fonts";
@import "transitions";

html {
    height: -webkit-fill-available;
}

body {
    overflow: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
